.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-brand {
  padding-left: 50px;
}
.navbar-inverse {
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  background-color: #419641;
  border-color: #419641;
  text-color: white;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641));
  background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
}

.navbar-inverse .navbar-nav>li>a {
  color: #fcf8e3;
}

.navbar-inverse .navbar-brand {
  color: #fcf8e3;
}

.navbar {
  margin-bottom: 0!important;
  border-radius: 0;
}

.caret-right {
  float: right;
  margin-top: 10px;
}

.button-text-left {
  float: left;
}

.button-group-container {
  width: 100%;
  margin-bottom: 8px;
}

.glyphicon-button {
  height: 34px;
  width: 13%;
}

#main-well {
  border-radius: 0;
  float: left;
}

#configured-categories {
  background-color: #4A4A4A;
  float: right;
}

@media(min-width: 577px) {
  #main-well {
    height: 92%;
    margin-bottom: 0;
  }
  #configured-categories {
    height:92%;
  }
}

@media(max-width: 576px) {
  #main-well {
    height: auto;
  }
  #configured-categories {
    height: auto;
  }
}

#center-container {
  height: 100%;
}

#product-container {
  overflow-y: auto;
  bottom:28px;
  right:0;
  position: absolute;
  top:0;
  width: 100%;
}

#main-action-btn-group {
  height: 67px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

#main-action-vertical-btn-subgroup {
  width: 40%;
}

#pagesa-button {
  float: right;
  height: inherit;
  width: 60%;
}

#fature-div {
  height: 100%;
}

#rezultati-fatura {
  position: absolute;
  bottom: 67px;
  right: 0px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#product-list {
  width: 100%;
  position: absolute;
  top: 90px;
  bottom: 204px;
  right: 0px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: auto;
}

.table {
  font-size: 0.9em;
}

#filter-kategorie {
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 5px;
}
@media(max-width: 576px) {
  .success {
    font-size: 0.7em;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;
  height: 90px;
}

.product-description {
  height:32px;
  padding:10px 0 10px 0;
  font-size:0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-wide-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.glyphicon-credit-card {
  padding-right: 5px;
  top: 3;
}

.category-item {
  padding: 8px 0 8px 0;
  cursor: pointer;
}

.category-item:hover {
  background-color: #282828;
}

.category-image {
  padding: 0 4px 0 4px;
}

.category-name {
  color: #fcf8e3;
  font-size: 0.8em;
  padding-top: 5px;
  padding-left: 0;
}

.category-selected {
  background-color: #6F6F6F;
}

.category-selected:hover {
  background-color: #383838;
}

.btn-primary-dialog {
    color: #fff!important;
    background-color: #337ab7!important;
    border-color: #2e6da4!important;
    float: right;
}

.btn-primary-dialog:active {
    color: #fff!important;
    background-color: #286090!important;
    border-color: #204d74!important;
}

.btn-primary-dialog:hover {
    color: #fff!important;
    background-color: #286090!important;
    border-color: #204d74!important;
}

.btn-secondary-dialog {
    float: left;
}

.btn-secondary-dialog:active {
    color: #333!important;
    background-color: #e6e6e6!important;
    border-color: #adadad!important;
}

.btn-secondary-dialog:hover {
    color: #333!important;
    background-color: #e6e6e6!important;
    border-color: #adadad!important;
}

.ui-dialog-buttonset {
    width: 100%;
}


.ui-dialog .ui-dialog-buttonpane {
    padding: .3em 1em .5em 1em!important;
}

.input-error {
    color: red;
}

.invoice-summary {
    text-align: right;
}

label, input {
    display:block;
}

input.text {
    margin-bottom: 12px;
    width:100%;
    padding: 3px;
}

label {
    font-size: 0.9em;
}

.validateTips {
    margin-top:12px;
    margin-bottom:12px;
}
